{
  "extends": ["next/babel","next/core-web-vitals"],
  "rules":{
    "no-nested-ternary": 0,
    "array-callback-return": 0,
    "@typescript-eslint/no-shadow": 0,
    "react/prop-types": 0,
    "@typescript-eslint/consistent-type-assertions": 0,
    "no-console": 0
  }
}
